In [ ]:
import pandas as pd
import numpy as np

In [ ]:
pop = pd.Series([1,2,3,4,5,7,8,9])

In [ ]:
pop

0    1
1    2
2    3
3    4
4    5
5    7
6    8
7    9
dtype: int64

In [ ]:
pop.name = "G7 population in million"

In [ ]:
pop

0    1
1    2
2    3
3    4
4    5
5    7
6    8
7    9
Name: G7 population in million, dtype: int64

In [ ]:
pop.dtypes

dtype('int64')

In [ ]:
pop.values

array([1, 2, 3, 4, 5, 7, 8, 9])

In [ ]:
type(pop.values)

numpy.ndarray

In [ ]:
pop[3]

4

In [ ]:
pop.index

RangeIndex(start=0, stop=8, step=1)

In [ ]:
pop.index= [
            'Canada',
            'Australia',
            'France',
            'Germany',
            'Italy',
            'Japan',
            'Uk',
            'Us',
]

In [ ]:
pop

Canada       1
Australia    2
France       3
Germany      4
Italy        5
Japan        7
Uk           8
Us           9
Name: G7 population in million, dtype: int64

In [ ]:
pd.Series({
     'Canada':12.34,
            'Australia': 23.4,
            'France':54.7,
            'Germany': 78.8,
            'Italy':45.7,
            'Japan':27.8,
            'Uk':56.7,
            'Us':89.0,
    
})

Canada       12.34
Australia    23.40
France       54.70
Germany      78.80
Italy        45.70
Japan        27.80
Uk           56.70
Us           89.00
dtype: float64

In [ ]:
pd.Series(pop, index=['France', 'Germany', 'Italy', 'Spain'
                    ])

France     3.0
Germany    4.0
Italy      5.0
Spain      NaN
Name: G7 population in million, dtype: float64

In [ ]:
pop['Canada']

1

In [ ]:
pop['Germany']

4

In [ ]:
pop

Canada       1
Australia    2
France       3
Germany      4
Italy        5
Japan        7
Uk           8
Us           9
Name: G7 population in million, dtype: int64

In [ ]:
pop.iloc[0]

1

In [ ]:
pop.iloc[-1]

9

In [ ]:
pop[['Italy', 'France']]

Italy     5
France    3
Name: G7 population in million, dtype: int64

In [ ]:
pop['Canada':'Italy']

Canada       1
Australia    2
France       3
Germany      4
Italy        5
Name: G7 population in million, dtype: int64

In [ ]:
pop

Canada       1
Australia    2
France       3
Germany      4
Italy        5
Japan        7
Uk           8
Us           9
Name: G7 population in million, dtype: int64

In [ ]:
pop > 70

Canada       False
Australia    False
France       False
Germany      False
Italy        False
Japan        False
Uk           False
Us           False
Name: G7 population in million, dtype: bool

In [ ]:
pop[pop>4]

Italy    5
Japan    7
Uk       8
Us       9
Name: G7 population in million, dtype: int64

In [ ]:
pop.mean()

4.875

In [ ]:
pop[pop > pop.mean()]

Italy    5
Japan    7
Uk       8
Us       9
Name: G7 population in million, dtype: int64

# **Operation And Method**

In [ ]:
pop * 1000

Canada       1000
Australia    2000
France       3000
Germany      4000
Italy        5000
Japan        7000
Uk           8000
Us           9000
Name: G7 population in million, dtype: int64

In [ ]:
np.log(pop)

Canada       0.000000
Australia    0.693147
France       1.098612
Germany      1.386294
Italy        1.609438
Japan        1.945910
Uk           2.079442
Us           2.197225
Name: G7 population in million, dtype: float64

In [ ]:
pop[(pop > 3) | (pop < 4)]

Canada       1
Australia    2
France       3
Germany      4
Italy        5
Japan        7
Uk           8
Us           9
Name: G7 population in million, dtype: int64

In [ ]:
pop[(pop > 3) & (pop < 5)]

Germany    4
Name: G7 population in million, dtype: int64

# **Modifying Series**

In [ ]:
pop['Canada'] = 40.5

In [ ]:
pop.iloc[-1] = 90.3

In [ ]:
pop

Canada       40.0
Australia     2.0
France        3.0
Germany       4.0
Italy         5.0
Japan         7.0
Uk            8.0
Us           90.3
Name: G7 population in million, dtype: float64

In [ ]:
df = pd.DataFrame({
    'Population':[35,45,12.0,34.33,78,87.77],
    'GDP':[
           1234,
           3457,
           89801,
           2345,
           5879,
           12345
    ],
    'Surface Area':[
                    12345,7890,
                    91234, 57890,
                    12345,78901
    ],
    'HDI': [
            0.123, 0.345, 0.789, 0.124,0.345,0.432
    ],
    'Continent':['Asia', 'Europe', 'Africa', 'America', 'Asia', 'Australia']
}, columns=['Population', 'GDP', 'Surface Area', 'HDI', 'Continent']
)

In [ ]:
df

   Population    GDP  Surface Area    HDI  Continent
0       35.00   1234         12345  0.123       Asia
1       45.00   3457          7890  0.345     Europe
2       12.00  89801         91234  0.789     Africa
3       34.33   2345         57890  0.124    America
4       78.00   5879         12345  0.345       Asia
5       87.77  12345         78901  0.432  Australia

In [ ]:
df.index = ['Canada',
            'Germany',
            'Italy',
            'Japan',
            'China',
            'UK']

In [ ]:
df

         Population    GDP  Surface Area    HDI  Continent
Canada        35.00   1234         12345  0.123       Asia
Germany       45.00   3457          7890  0.345     Europe
Italy         12.00  89801         91234  0.789     Africa
Japan         34.33   2345         57890  0.124    America
China         78.00   5879         12345  0.345       Asia
UK            87.77  12345         78901  0.432  Australia

In [ ]:
df.columns

Index(['Population', 'GDP', 'Surface Area', 'HDI', 'Continent'], dtype='object')

In [ ]:
df.index

Index(['Canada', 'Germany', 'Italy', 'Japan', 'China', 'UK'], dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, Canada to UK
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Population    6 non-null      float64
 1   GDP           6 non-null      int64
 2   Surface Area  6 non-null      int64
 3   HDI           6 non-null      float64
 4   Continent     6 non-null      object
dtypes: float64(2), int64(2), object(1)
memory usage: 288.0+ bytes

In [ ]:
df.size

30

In [ ]:
df.shape

(6, 5)

In [ ]:
df.describe()

       Population           GDP  Surface Area       HDI
count    6.000000      6.000000      6.000000  6.000000
mean    48.683333  19176.833333  43434.166667  0.359667
std     28.774017  34824.268196  37277.746184  0.245577
min     12.000000   1234.000000   7890.000000  0.123000
25%     34.497500   2623.000000  12345.000000  0.179250
50%     40.000000   4668.000000  35117.500000  0.345000
75%     69.750000  10728.500000  73648.250000  0.410250
max     87.770000  89801.000000  91234.000000  0.789000

In [ ]:
df.dtypes

Population      float64
GDP               int64
Surface Area      int64
HDI             float64
Continent        object
dtype: object

In [ ]:
df.dtypes.value_counts()

float64    2
int64      2
object     1
dtype: int64

# **Indexing Selection And Slicing**

In [ ]:
df['Population']

Canada     35.00
Germany    45.00
Italy      12.00
Japan      34.33
China      78.00
UK         87.77
Name: Population, dtype: float64

In [ ]:
df['Population'].to_frame()

         Population
Canada        35.00
Germany       45.00
Italy         12.00
Japan         34.33
China         78.00
UK            87.77

In [ ]:
df[['Population', 'GDP']]

         Population    GDP
Canada        35.00   1234
Germany       45.00   3457
Italy         12.00  89801
Japan         34.33   2345
China         78.00   5879
UK            87.77  12345

In [ ]:
df[1:3]

         Population    GDP  Surface Area    HDI Continent
Germany        45.0   3457          7890  0.345    Europe
Italy          12.0  89801         91234  0.789    Africa

In [ ]:
df.loc['Canada']

Population         35
GDP              1234
Surface Area    12345
HDI             0.123
Continent        Asia
Name: Canada, dtype: object

In [ ]:
df.iloc[-1]

Population          87.77
GDP                 12345
Surface Area        78901
HDI                 0.432
Continent       Australia
Name: UK, dtype: object

In [ ]:
df.loc['Canada' : 'Italy', 'Population']

Canada     35.0
Germany    45.0
Italy      12.0
Name: Population, dtype: float64

In [ ]:
df.iloc[1:3,3]

Germany    0.345
Italy      0.789
Name: HDI, dtype: float64

In [ ]:
df.iloc[1:3,0:3]

         Population    GDP  Surface Area
Germany        45.0   3457          7890
Italy          12.0  89801         91234

# **Conditional Selection**

In [ ]:
df

         Population    GDP  Surface Area    HDI  Continent
Canada        35.00   1234         12345  0.123       Asia
Germany       45.00   3457          7890  0.345     Europe
Italy         12.00  89801         91234  0.789     Africa
Japan         34.33   2345         57890  0.124    America
China         78.00   5879         12345  0.345       Asia
UK            87.77  12345         78901  0.432  Australia

In [ ]:
df['Population']

Canada     35.00
Germany    45.00
Italy      12.00
Japan      34.33
China      78.00
UK         87.77
Name: Population, dtype: float64

In [ ]:
df['Population'] > 70

Canada     False
Germany    False
Italy      False
Japan      False
China       True
UK          True
Name: Population, dtype: bool

In [ ]:
df.loc[df['Population'] > 70]

       Population    GDP  Surface Area    HDI  Continent
China       78.00   5879         12345  0.345       Asia
UK          87.77  12345         78901  0.432  Australia

In [ ]:
df.loc[df['Population'] > 70, 'Population']

China    78.00
UK       87.77
Name: Population, dtype: float64

In [ ]:
df.drop(columns=['Population', 'HDI'])

           GDP  Surface Area  Continent
Canada    1234         12345       Asia
Germany   3457          7890     Europe
Italy    89801         91234     Africa
Japan     2345         57890    America
China     5879         12345       Asia
UK       12345         78901  Australia

In [ ]:
df[['Population', 'GDP']]

         Population    GDP
Canada        35.00   1234
Germany       45.00   3457
Italy         12.00  89801
Japan         34.33   2345
China         78.00   5879
UK            87.77  12345

In [ ]:
df[['Population', 'GDP']] /100

         Population     GDP
Canada       0.3500   12.34
Germany      0.4500   34.57
Italy        0.1200  898.01
Japan        0.3433   23.45
China        0.7800   58.79
UK           0.8777  123.45

In [ ]:
crisis = pd.Series([-1_000_000, -0.1], index=['GDP', 'HDI'])

In [ ]:
crisis

GDP   -1000000.0
HDI         -0.1
dtype: float64

In [ ]:
df

         Population    GDP  Surface Area    HDI  Continent
Canada        35.00   1234         12345  0.123       Asia
Germany       45.00   3457          7890  0.345     Europe
Italy         12.00  89801         91234  0.789     Africa
Japan         34.33   2345         57890  0.124    America
China         78.00   5879         12345  0.345       Asia
UK            87.77  12345         78901  0.432  Australia

In [ ]:
df[['GDP', 'HDI']] + crisis

              GDP    HDI
Canada  -998766.0  0.023
Germany -996543.0  0.245
Italy   -910199.0  0.689
Japan   -997655.0  0.024
China   -994121.0  0.245
UK      -987655.0  0.332

In [ ]:
lang = pd.Series(
    ['Candian', 'German', 'Italian' ],
    index = ['Germany', 'Germany', 'Italy'],
    name='Language'
)

In [ ]:
df

         Population    GDP  Surface Area    HDI  Continent
Canada        35.00   1234         12345  0.123       Asia
Germany       45.00   3457          7890  0.345     Europe
Italy         12.00  89801         91234  0.789     Africa
Japan         34.33   2345         57890  0.124    America
China         78.00   5879         12345  0.345       Asia
UK            87.77  12345         78901  0.432  Australia

In [ ]:
df.rename(
    columns = {
        'HDI' : 'Human Development Index', 
        'API' : 'Annual popcorn Assumption',
    }
)

         Population    GDP  Surface Area  Human Development Index  Continent
Canada        35.00   1234         12345                    0.123       Asia
Germany       45.00   3457          7890                    0.345     Europe
Italy         12.00  89801         91234                    0.789     Africa
Japan         34.33   2345         57890                    0.124    America
China         78.00   5879         12345                    0.345       Asia
UK            87.77  12345         78901                    0.432  Australia

In [ ]:
df.rename(
    columns= {
        'HDI':'Human Development Index',
        'API' : 'Annual popcorn Assumption'
    },index={
        'USA':'United States of America',
        'UK' : 'United Kingdom'
    }
)

                Population    GDP  ...  Human Development Index  Continent
Canada               35.00   1234  ...                    0.123       Asia
Germany              45.00   3457  ...                    0.345     Europe
Italy                12.00  89801  ...                    0.789     Africa
Japan                34.33   2345  ...                    0.124    America
China                78.00   5879  ...                    0.345       Asia
United Kingdom       87.77  12345  ...                    0.432  Australia

[6 rows x 5 columns]

In [ ]:
pd.read_csv?

In [ ]:
#df = pd.read_csv
#df.columns = ['TimeSpace','Price']
#df['Timespace'] = pd.to_datetime(df['Timespace'])
#df.set_index('Timespace', inplace=True)